.asteroidContainer {
  background-color: rgba(245, 245, 220, 0.623);
  padding: 10px;
}

.closeImage {
  text-align: start;
  position: absolute;
  right: 1rem;
}

.closeImage:hover {
  cursor: pointer;
}

.asteroidName {
  font-size: large;
  padding: 5px;
}

.asteroidLink {
  text-decoration: none;
  font-size: large;
  padding: 5px;
}
.asteroidLink:hover {
  cursor: pointer;
  font-size: large;
}

.asteroidisDangerous {
  font-size: large;
  padding: 5px;
}
