.App {
  height: 90vh;
  width: 90vw;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e5/NASA_logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: 12% auto 0;
}
